Django
yt-dlp
moviepy==1.0.3
google-generativeai
webvtt-py
google-api-python-client
google-auth-oauthlib
gunicorn
boto3 
ffmpeg-python   # FFmpeg commands ko behtar handle karne ke liye
django-storages
python-dotenv
psycopg2-binary
whitenoise